<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />

<title>Homepage</title>
</head>

<body>
	<div class="container">
		<h2>Home page</h2>
		<h1 th:text="'Welcome, ' + ${authUser} + '!'">Welcome!</h1>
		<!-- ASK FOR QUESTION -->
		<img class="rounded-circle" th:src="${authUserImage} == null ? _ : @{'data:image/png;base64,'+${authUserImage}}">

		<h2>Task Form</h2>

		<form action="#" th:action="@{/save}" th:object="${task}" method="post">
			<p th:if="${successmessage}">
              <a href="#">&times;</a>
              <strong th:text="${successmessage}"></strong>
          	</p>			
			<input type="text" placeholder="Name task"
				th:field="*{taskTitle}"> <input
				placeholder="Type of task" th:field="*{type}" type="text">
			<input placeholder="Description" th:field="*{description}"
				type="text"> 
			<input placeholder="Expired date"
				th:field="*{expiredDate}" type="text"> <input type="hidden"
				th:field="*{id}"> 
			<input type="submit" value="Submit">
		</form>

		<h2>All Tasks</h2>
			<table style="width: 100%">
				<thead>
					<tr>
						<th>Task Title</th>
						<th>Type of task</th>
						<th>Description of task</th>
						<th>Expired date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="task: ${tasks}">
						<td th:text="${task.taskTitle}"></td>
						<td th:text="${task.type}"></td>
						<td th:text="${task.description}"></td>
						<td th:text="${task.expiredDate}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<script type="text/javascript"
			th:src="@{/webjars/jquery/3.4.1/jquery.min.js/}"></script>
		<script type="text/javascript"
			th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>

</html>