<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
</head>
<body>

	<a th:href="@{/}"><button class="btn btn-md btn-warning btn-block"
			type="Submit">Go To Login Page</button></a>


	<form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" class="form-horizontal">
		<h2>Registration Form</h2>

		<input type="text" th:field="*{email}" placeholder="Email" class="form-control" /> 
		<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label> 
		<input type="password" th:field="*{password}" placeholder="Password" class="form-control" /> 
		<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label> 
		<input id="image" class="form-control" type="file" th:field="*{image}" /> 
		<label th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="validation-message"> Profile picture</label>

		<input type="submit" value="Register User" />
		<h2>
			<span class="text-success" th:utext="${successMessage}"></span>
		</h2>

	</form>

	<script type="text/javascript" th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

</body>
</html>